p {
    text-align: center;
    font-family: Montserrat;
    margin-top: 0;
    margin-bottom: 0;
}

.model {
    font-weight: bold;
    font-size: 20px;
}

.order {
    font-size: 10px;
    margin-top: 5px;
}
.under {
    text-decoration: underline;
}